#speech, #direction, #name {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: black;
}
#direction {
    background-color: blanchedalmond;
    display: inline-block;
}
a.hover {
    color: aqua;
    background-color: blue;
}

#name{
    color:brown;
    margin-bottom: 3px;
    font-size:small;
}

#scene {
    color: green;
    font-weight: lighter;
    margin-top: 2px;
}

table {
    border: dashed 3px;
    border-collapse: separate;
    color: darkgoldenrod;
    padding: 5px;
    margin: auto;
    
}
td, th {border: solid 1px ;
    text-align: center;
}

#name:hover {
    color: orange;
    box-shadow: 0 3px 3px rgba(184, 9, 9, 0.2); 
    border: 2px;
    display: inline-block;
}